* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #6ecaff69;
  display: flex;
  justify-content: center;
  align-items: center;
}

